<div id="split-carroussel">
    <h4>Past Split</h4>
    <br>
    <div class="carrossel_cards_grid">
      <div class="card">
        <div class="carrossel_card">
          <%= image_tag 'logo_cblol.png', class: "card-img" %>
        </div>
        <div>
          <p class="card-text">2019 - Split 1</p>
        </div>
      </div>
      <div class="card">
        <div class="carrossel_card">
          <%= image_tag 'logo_cblol.png', class: "card-img" %>
        </div>
        <div>
          <p class="card-text">2019 - Split 2</p>
        </div>
      </div>
      <div class="card">
        <div class="carrossel_card">
          <%= image_tag 'logo_cblol.png', class: "card-img" %>
        </div>
        <div>
          <p class="card-text">2020 - Split 1</p>
        </div>
      </div>
      <div class="card">
        <div class="carrossel_card">
          <%= image_tag 'logo_cblol.png', class: "card-img" %>
        </div>
        <div>
          <p class="card-text">2020 - Split 2</p>
        </div>
      </div>
    </div>
  </div>
