<div class="footer">
  <div class="footer-links">
    <%= link_to "Tournaments", tournaments_path, class: "nav-link", style: "color: #72BFC9; font-weight: 700;" %>
    <%= link_to "Teams", teams_path, class: "nav-link", style: "color: #72BFC9; font-weight: 700;" %>
    <%= link_to "Contato", teams_path, class: "nav-link", style: "color: #72BFC9; font-weight: 700;" %>
    <%= link_to "Sobre", teams_path, class: "nav-link", style: "color: #72BFC9; font-weight: 700;" %>
  </div>
</div>
