<div id="myCarousel" class="carousel slide carousel-fade mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(<%= image_path 'banner.jpg' %>); background-size: cover ">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center" style="margin-top:60px">
                        <div class="col-md-8 col-12 order-md-1 order-2">
                          <div>
                            <h4 id="presentation">
                              <strong style="color:#72BFC9">Partnerships and suggestions</strong>
                              <br> We are always open to new partnerships. We provide detailed data on competitions, teams and various other relevant statistics to anyone who works with or is interested in CBLoL.</h4>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2><strong>Contato</strong></h2>

  <section id="contact">
    <div class="section-content">
        <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
        <h3>CBLoL</h3>
      </div>
      <div class="contact-section">
        <div align="center">

         <div id="contact">
          <%= render 'contact_form' %>
        </div>

    </div>
    </div>
  </section>
