<div align="center">
    <div style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(<%= image_path 'banner_back_1.png' %>); background-size: cover; box-shadow: 0 0 15px rgba(0,0,0,0.5); height: 300px; ">
        <div class="mask flex-center">
            <div class="container" style="padding-top: 80px">
                <div class="row d-flex justify-content-center align-items-center">
                    <h3>GGBee is a service for collecting, organizing and analyzing data <br> on the competitive LoL scenario in Brazil.</h3>
                    <h3>Our services are unbiased and help professionals <br> gain insights and a clearer view of market trends.</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-5">
  <div class="row" align="left">
    <div class="col-2"><i class="fas fa-database d-flex justify-content-center align-items-center" style="font-size: 100px"></i></div>
    <div class="col-10">
      <h1>Real Data</h1>
      <p> We collect actual data from CBLoL broadcasts and videos on YouTube.
          The data is processed between 7 and 10 days after the games are played,
          which corresponds to the peak of views and interactions. </p>
      <hr style="border-color: #72BFC9; border-width: 2px 0"/>
    </div>
  </div>
<br>
  <div class="row" align="left">
    <div class="col-2"><i class="fas fa-chart-pie d-flex justify-content-center align-items-center" style="font-size: 100px"></i></div>
    <div class="col-10">
      <h1>Informative infographics</h1>

      <p> We organize and make available the information collected in informative infographics,
          which include the exact number of views
          user interactions (like likes, dislikes and comments), hours watched... </p>

      <hr style="border-color: #72BFC9; border-width: 2px 0"/>
    </div>
  </div>
<br>
 <div class="row" align="left">
    <div class="col-2"><i class="fas fa-trophy d-flex justify-content-center align-items-center" style="font-size: 100px"></i></div>
    <div class="col-10">
      <h1>The competition, teams and players</h1>

      <p>We provide data on aspects of the tournament that interest those who work with LoL on a daily basis.
        Insights about the competition and its reach, market trends, the best teams and players,
        all of this you find here.</p>

        <hr style="border-color: #72BFC9; border-width: 2px 0"/>
    </div>
 </div>
<br>
<div class="row" align="left">
    <div class="col-2"><i class="fas fa-bullhorn d-flex justify-content-center align-items-center" style="font-size: 100px"></i></div>
    <div class="col-10">
      <h1>Share and Support</h1>

      <p>League of Legends grows every day in Brazil. As this happens, the need for data and analysis that helps to understand this market with enormous potential also increases.
        Share this content and support the national competitive LoL scenario.</p>

      <hr style="border-color: #72BFC9; border-width: 2px 0"/>
    </div>
 </div>

</div>


