.dividers {
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
  height: 150px;
}

.dividers h1 {
  font-family: 'lato';
  position: relative; /* for pseudos */
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 40px;
  margin:auto;
  vertical-align:middle;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
