.dividers {
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
}

.dividers h1 {
  font-family: 'lato';
  position: relative; /* for pseudos */
  color: #93c57c;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin: 0;

  padding: 40px;
}

.dividers img {
  filter: grayscale(100%);
}
