.info_cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}


.info_cards_grid p {
  font-size: 15px;
  font-style: "Lato";
  font-weight: 100;
}

.info_cards_grid h4 {
  font-size: 30px;
  font-style: "Montsserrat";
  font-weight: 400;
}



#info-card {
  font-style: "Lato";
  font-weight: 100;
}
