.split_carousel_cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  border: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
}

.split_card {
  display: flex;
  width: 100px;
  margin: 5px;
  border-radius: 50%;
}

.split_card img {
  display: flex;
  width: 100px;
  margin: 5px;
  border-radius: 50%;
}

.split-name p {
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
}
