#team-carousel {
  margin-bottom: 10px;
}


.carousel_card > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}


.team-logo-img {
  height: 100px;
  object-fit: cover;
}

.team-name a {
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
}

.team-logo-big {
  height: 300px;
}
