#team-carousel {
  margin-bottom: 10px;
}

.carousel_card > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}


.team-logo-img img {
  object-fit: contain;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  border: grey 1px solid;
  transition: all linear 0.25s;
  cursor: pointer;
}

.team-logo-img img:hover {
  background-color: grey;

}

.team-name {
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
}

.team-logo-big {
  height: 250px;
}

.team-logo-s {
  height: 50px;
}

.tns-controls {
  text-align: right;
  margin-bottom: 15px;
  margin-right: 13px;
}

.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2em;
  color: #000;
  background: #72BFC9;
  border-radius: 3px;
  border: 0;
}

#top-audience-table td {
  vertical-align: middle;
}

#team-carousel p {
  display: unset;
  position: absolute;
  margin-top: 3px;
}
